---
import mrearsbigLogo from "../assets/mrearsbig.svg";
import { UserRound, FolderClosed, Briefcase } from "lucide-react";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faGithub,
  faLinkedin,
  faXTwitter,
  faInstagram,
  faFacebook,
} from "@fortawesome/free-brands-svg-icons";
import { Button } from "./ui/button";
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="min-h-screen w-full relative bg-white dark:bg-background lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between"
>
  {/* Soft Yellow Glow */}
  <div
    class="absolute inset-0 z-0 lg:hidden"
    style={{
      backgroundImage: `
        radial-gradient(circle at center, #FFB300 0%, transparent 70%)
      `,
      opacity: 0.6,
      mixBlendMode: "multiply",
    }}
  >
  </div>
  {/* Your Content/Components */}
  <header
    class="flex h-screen flex-col items-center justify-around px-6 lg:items-start lg:justify-between lg:py-20"
  >
    {/* Logo */}
    <div class="lg:hidden">
      <a href="/"
        ><img
          src={mrearsbigLogo.src}
          alt="Mrearsbig Homepage"
          width="117"
          height="32"
        /></a
      >
    </div>

    {/* Personal and Navigation */}
    <div class="flex flex-col gap-16">
      {/* Personal */}
      <section
        class="flex flex-col items-center text-center lg:items-start lg:text-start lg:pt-6"
      >
        <hgroup class="flex flex-col gap-2 mb-3">
          <h1 class="text-5xl font-bold tracking-tight">
            <a href="/">Alexander Viafara</a>
          </h1>
          <h2 class="text-2xl font-medium tracking-tight">Systems Engineer</h2>
        </hgroup>
        <p class="text-muted-foreground max-w-2xs lg:max-w-xs">
          Turning ideas into great results — Code. Create. Conquer.
        </p>
      </section>

      {/* Navigation (Visible solo en desktop) */}
      <nav class="hidden lg:block" aria-label="Navegación principal">
        <ul class="flex flex-col gap-4">
          <li>
            <a href="#about">
              <Button variant="ghost">
                <UserRound /> About
              </Button>
            </a>
          </li>
          <li>
            <a href="#projects">
              <Button variant="ghost">
                <FolderClosed /> Projects
              </Button>
            </a>
          </li>
          <li>
            <a href="#experience">
              <Button variant="ghost">
                <Briefcase /> Experience
              </Button>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    {/* Social Media Icons and Theme Toggle */}
    <div class="flex items-center gap-6">
      <nav aria-label="Redes sociales">
        <ul class="flex gap-4">
          <li>
            <a
              href="http://github.com/mrearsbig"
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground/80 transition-colors"
              aria-label="Perfil de GitHub"
            >
              <FontAwesomeIcon icon={faGithub} className="h-6 w-6" />
            </a>
          </li>
          <li>
            <a
              href="http://linkedin.com/in/mrearsbig"
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground/80 transition-colors"
              aria-label="Perfil de LinkedIn"
            >
              <FontAwesomeIcon icon={faLinkedin} className="h-6 w-6" />
            </a>
          </li>
          <li>
            <a
              href="http://x.com/mrearsbig"
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground/80 transition-colors"
              aria-label="Perfil de X (Twitter)"
            >
              <FontAwesomeIcon icon={faXTwitter} className="h-6 w-6" />
            </a>
          </li>
          <li>
            <a
              href="http://instagram.com/mrearsbig"
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground/80 transition-colors"
              aria-label="Perfil de Instagram"
            >
              <FontAwesomeIcon icon={faInstagram} className="h-6 w-6" />
            </a>
          </li>
          <li>
            <a
              href="http://facebook.com/mrearsbig"
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground/80 transition-colors"
              aria-label="Perfil de Facebook"
            >
              <FontAwesomeIcon icon={faFacebook} className="h-6 w-6" />
            </a>
          </li>
        </ul>
      </nav>
      <ThemeToggle />
    </div>
  </header>
</div>
